.Posicion{
  background-color: red;
  text-align: center;
  color:white;
}


.article1{
border: dotted green;
text-align: center;
margin-left: 100px;
margin-right:100px;
padding: 5%;

}

.article2{
  width: 100px;
  border: solid purple;
  margin-left: 55%;
padding: 10%;

}


.article3{
  border:20px double pink;
  margin-right: 300px;
  padding: 100px;
  color:green;
  background: yellow;

}

.article4{
  color:white;
}
