.A{
  color:red;
  background-color: blue;

  text-align: center;
}
.B{
  color:blue;
  background-color: red;

  text-align: center;
}
body{
  background-color: #3333ff;
}
.P1{
  text-align: ;
  color:orange;

}

.P2{
  color:orange;

}

.P3{
  color:orange;

}
.P4{
  color:orange;
  font-family:sans-serif;
  text-align: right;
  font-size: 110px;



}
