.formulari{
  background-image: url(https://www.hola.com/imagenes/viajes/20171103101515/imprescindibles-en-dubai-emiratos-arabes/0-503-849/dubai-panoramica-t.jpg);
}
h1{
  text-align: center;
  color: #000000;
  font-family: monospace;
}
h2{
    text-align: center;
  text-decoration: underline;
  text-decoration-color: red;
color: black;
}



.formulari{

text-align: center;
color:black;
  border: black 3px solid;
  margin: 0 auto;
  margin-right: auto;
  width: 1000px;
  height: 500px;

}

.formulari2{
  background-image:url(http://frutas.consumer.es/sites/default/files/compra_0.jpg);
  width: 1000px;
  height: 500px;
  border: black 3px solid;
  margin: 0 auto;
  margin-right: auto;
}

.fruta{
  width: 100px;
  height: 100px;
}

.mejor{
  text-emphasis: strong;
}
