  * {
    margin:0px;
    padding:0px;
  }

  #header {
    margin:auto;
    width:500px;
    font-family:Arial, Helvetica, sans-serif;
  }
  .background-paginaprincipal{

    font-family: arial,sans-serif;

  }

  .navpaginaprincipal{
  background-color: black;
  padding: 1%;
  }

  a:hover {
  color :red;
  text-decoration: underline red;
}
  nav a {
    text-decoration: none;
    color: WHITE;
    padding-right: 30px ;
    padding-left: 30px;
  }

  .logo{
  float: left;
  margin-left: 23%;
  }

  .busqueda{
    color: grey  ;
  }
  .busqueda:hover{
    color:black;
  }

  ul, ol {
    list-style:none;
  }

  .nav > li {
    float:left;
  }

  .nav li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
  }


  .nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
  }

  .nav li:hover > ul {
    display:block;
  }
