/* nav */
.background-paginaprincipal{

  font-family: arial,sans-serif;

}
.header{
  overflow: auto;
  padding: 3%;
}
.navpaginaprincipal{
  background-color: black;
  overflow: auto;
}
.nav  {
  list-style: none;
}
.nav li:hover{
  background-color:red;
  text-decoration: underline red;
}

.nav > li {
  float:left;
}

.nav li a {
  color:#fff;
  text-decoration:none;
  padding:10px 12px;
  display:block;
}

.nav li ul {
  text-decoration:none;

  display:none;
  position:absolute;
  min-width:140px;
}

.nav li:hover > ul {
  display:block;
  background-color: black;
  color:white;
  text-decoration: none;
}
.desple{
list-style: none;
margin-left:-40px;
}


.nav ul:hover > li:hover{
  text-decoration: none;
  background-color: red;

}

.logo{
float: left;
margin-left: 27%;
}

.busqueda{
  color: grey  ;
  margin-left: 10px;
}
.busqueda:hover{
  color:black;
}

/*article */
.titulo{
  height:100px;
  width:250px;
}



.imagenpp{
height:250px;
width:400px;
margin-left: 10px;
margin-top: 10px;
margin-right: 10px;
float: left;
}
.article{
  overflow: auto;
  margin-left: 20%;
  margin-right: 20%;
}
.h1{
  margin-left: 20%;

}
.h1paginaprincipal{
    color:black;
    text-decoration:underline;

    padding: 1%;
}

hr{
  margin-left: 20%;
  margin-right: 20%;
  color: #B1ACAC;
}

.h1pp{
  color:black;
}

/* footer */
.footer{
  background-color: black;
  color: white;
  text-transform:uppercase;
  padding: 3%;
  overflow: auto;

}

.redes{
  text-align : center;
float: left;
margin-left: 20%;
}
.Contactar{
float: left;
margin-left: 10%
}
.colaboradores{
float: right;
margin-right: 10%;
}












































@media only screen and (max-width: 800px) {

.footer{
  text-align: center;

}
  .navpaginaprincipal{
    display: inline-grid;
    padding: 3%;
  text-align: center;
  background-color: red;


  }
  .logo {
    margin-left: 20%;

  }





.imagenpp{
height:130px;
width:280px;
margin-left: 10px;
margin-top: 10px;
margin-right: 10px;
float: left;
}
}
