body{

  font-family: arial,sans-serif;

}


/* nav */

.header{
  overflow: auto;
  padding: 3%;
}
.navpaginaprincipal{
  background-color: black;
  overflow: auto;
}
.nav  {
  list-style: none;
}
.nav li:hover{
  background-color:red;
  text-decoration: underline red;
}

.nav > li {
  float:left;
}

.nav li a {
  color:#fff;
  text-decoration:none;
  padding:10px 12px;
  display:block;
}

.nav li ul {
  text-decoration:none;
  display:none;
  position:absolute;
  min-width:140px;
}

.nav li:hover > ul {
  display:block;
  background-color: black;
  color:white;
  text-decoration: none;
}
.desple{
list-style: none;
margin-left:-40px;
}


.nav ul:hover > li:hover{
  text-decoration: none;
  background-color: red;

}

.logo{
float: left;
margin-left: 27%;
}

.busqueda{
  color: grey  ;
  margin-left: 10px;
}
.busqueda:hover{
  color:black;
}



/* Submenu */
.Submenu{
  color:black;
  margin-right: 82%;
  padding: 10px 15px;
margin-left: 10%;
border: 2px;
float: left;
}
.Submenu li {
  text-decoration: none;
  list-style: none;
  margin-left:-40px;
padding: 2%;
}

.Submenu a{
  text-decoration: none;
  list-style: none;
  color:black;
}
.Submenu li:hover{
background-color: red;
}

//*article */
.titulo{
  height:100px;
  width:250px;
}



.imagenpp{
height:250px;
width:400px;
margin-left: 10px;
margin-top: 10px;
margin-right: 10px;
float: left;
}
.article{
  overflow: auto;
  margin-left: 20%;
  margin-right: 20%;
}
.h1{
  margin-left: 20%;

}
.h1paginaprincipal{
    color:black;
    text-decoration:underline;

    padding: 1%;
}

hr{
  margin-left: 20%;
  margin-right: 20%;
  color: #B1ACAC;
}

.h1pp{
  color:black;
}


.imagenpp{
height:250px;
width:400px;
margin-left: 10px;
margin-top: 10px;
margin-right: 10px;
float: left;
}
.article{
  overflow: auto;
  margin-left: 20%;
  margin-right: 20%;
}
.h1{
  margin-left: 20%;

}
.h1paginaprincipal{
    color:black;
    text-decoration:underline;

    padding: 1%;
}

hr{
  margin-left: 20%;
  margin-right: 20%;
  color: #B1ACAC;
}

.h1pp{
  color:black;
}

/* Disparos */

.accion{

}
.accion h1{

}


/* footer */
.footer{
  background-color: black;
  color: white;
  padding: 3%;
  overflow: auto;
  text-transform:uppercase;


}

.redes{
  text-align : center;
float: left;
margin-left: 20%;
}
.Contactar{
float: left;
margin-left: 10%
}
.colaboradores{
float: right;
margin-right: 10%;
}
