.asside{

      float:right;
      background-color: green;
      color: white;
      margin-left: 70%;
      padding: 10%;

}

.header{
background-color: black;
color: red;
}
.nav{
background-color: red;
color: black;
text-align: center;
}

.section1{
background-color: blue;
color: yellow;

}

.article{
text-align: left;
background-color: tomato;
color: black;
width:500px;
font-style:oblique;
font-family:monospace;
}

.footer{
background-color: purple;
color: white;
}
