.Caja1{
  border: 15px double;
  background: yellow;
  width: 100px;
  height: 120px;
  text-align: center;

}


.Caja2{
  border: 20px solid;
  border-left-width: medium;
  background: pink;
  margin-left: 70%;
  width: 100px;
  height: 100px;
  text-align: center;
}


.Caja3{
  border: solid 10px;
border-left-color:#ABABAB ;
border-right-color: blue;
border-top-color:red ;
border-bottom-color:#28DF09 ;
margin-top: 40px;
background-color: cyan;
}
.caja1{
  padding: 20%;
  text-align: center;
  margin-top: 20px;
}
.caja2{
  padding: 20%;
  text-align: center;
  margin-top: 10px;
}
.caja3{
  padding: 10%;
  text-align: center;
  margin-top: 10px;
}
